*,
::after,
::before {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  height: 100vh;
  scroll-behavior: unset;
  overflow-x: hidden;
  max-width: 100vw;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  background-color: rgb(17, 20, 48);
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  max-width: 100vw;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap");

#root {
  height: 100vh;
  overflow-x: hidden;
  max-width: 100vw;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#root::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
